/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
	font-family: sans-serif; /* 1 */
	-ms-text-size-adjust: 100%; /* 2 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
	margin: 0;
}

/* HTML5 display definitions
	 ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
	display: inline-block; /* 1 */
	vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
	display: none;
	height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
	display: none;
}

/* Links
	 ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
	background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
	outline: 0;
}

/* Text-level semantics
	 ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
	border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
	font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
	font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
	font-size: 2em;
	margin: .67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
	background: #ff0;
	color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
	font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -.5em;
}

sub {
	bottom: -.25em;
}

/* Embedded content
	 ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
	border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
	overflow: hidden;
}

/* Grouping content
	 ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
	margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
	box-sizing: content-box;
	height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
	overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

/* Forms
	 ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
	color: inherit; /* 1 */
	font: inherit; /* 2 */
	margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
	overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
	text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button; /* 2 */
	cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
	cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
	line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
	-webkit-appearance: textfield; /* 1 */
	box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: .35em .625em .75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
	border: 0; /* 1 */
	padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
	overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
	font-weight: bold;
}

/* Tables
	 ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?aikns");
	src: url("../fonts/icomoon.eot?aikns#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?aikns") format("truetype"), url("../fonts/icomoon.woff?aikns") format("woff"), url("../fonts/icomoon.svg?aikns#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
	content: "\e900";
}

#nav,
.holder-values-image .list-values,
.holder-objectives .objectives-list,
.call-to-action .list-call,
.open-close .slide .list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

* {
	max-height: 1000000px;
}

body {
	color: #006fa7;
	background: #fff;
	font: 16px/1.2 "Poppins", "Arial", "Helvetica Neue", "Helvetica", sans-serif;
	min-width: 320px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

.gm-style img {
	max-width: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
	font-family: inherit;
	font-weight: bold;
	margin: 0 0 .5em;
	color: inherit;
}

h1,
.h1 {
	font-size: 42px;
}

h2,
.h2 {
	font-size: 48px;
}

h3,
.h3 {
	font-size: 22px;
}

h4,
.h4 {
	font-size: 21px;
}

h5,
.h5 {
	font-size: 17px;
}

h6,
.h6 {
	font-size: 15px;
}

p {
	margin: 0 0 1em;
}

a {
	color: #39f;
	text-decoration: none;
	outline: none;
	-webkit-transition: color .3s ease-in-out, background .3s ease-in-out;
	transition: color .3s ease-in-out, background .3s ease-in-out;
}

a:hover {
	color: #293051;
}

form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
input[type="password"],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: 1px solid #848484;
	padding: .4em .7em;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
input[type="password"]:focus,
textarea:focus {
	border-color: #333;
}

input[type="text"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #848484;
}

input[type="text"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder,
input[type="email"]::-moz-placeholder,
input[type="search"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
textarea::-moz-placeholder {
	opacity: 1;
	color: #848484;
}

input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
textarea:-moz-placeholder {
	color: #848484;
}

input[type="text"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder,
input[type="email"]:-ms-input-placeholder,
input[type="search"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #848484;
}

input[type="text"].placeholder,
input[type="tel"].placeholder,
input[type="email"].placeholder,
input[type="search"].placeholder,
input[type="password"].placeholder,
textarea.placeholder {
	color: #848484;
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
}

button,
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="submit"] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
}

#header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	position: absolute;
	z-index: 2;
}

.logo {
	background: #242967;
	width: 32%;
	padding: 15px 2% 15px 22px;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.logo a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	font-size: 22px;
	font-weight: 700;
	border-bottom: 3px solid rgba(255, 234, 0, 0);
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

.logo a:hover {
	color: #ffea00;
	border-bottom: 3px solid #ffea00;
}

.resize-active * {
	-webkit-transition: none !important;
	transition: none !important;
}

.nav-opener {
	display: block;
	width: 60px;
	height: 60px;
	position: relative;
	right: 0;
	z-index: 2;
	background: #242967;
}

.nav-active .nav-opener span {
	opacity: 0;
}

.nav-active .nav-opener:before,
.nav-active .nav-opener:after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	top: 50%;
	left: 30%;
	right: 30%;
}

.nav-active .nav-opener:after {
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.nav-opener span,
.nav-opener:before,
.nav-opener:after {
	background: #fff;
	position: absolute;
	top: 50%;
	left: 30%;
	right: 30%;
	height: 4px;
	margin-top: -2px;
	-webkit-transition: all .3s linear;
	transition: all .3s linear;
}

.header-fixed .nav-opener span,
.header-fixed .nav-opener:before,
.header-fixed .nav-opener:after {
	background: #333;
}

.nav-opener:before,
.nav-opener:after {
	content: "";
	top: 35%;
}

.nav-opener:after {
	top: 65%;
}

.drop {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	width: 68%;
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate(100%, 0);
	-ms-transform: translate(100%, 0);
	transform: translate(100%, 0);
	background-color: rgba(51, 51, 51, .5);
	-webkit-transition-property: opacity, visibility, -webkit-transform;
	transition-property: opacity, visibility, -webkit-transform;
	transition-property: opacity, visibility, transform;
	transition-property: opacity, visibility, transform, -webkit-transform;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}

.nav-active .drop {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

#nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	background: #019cde;
	width: auto;
	padding: 70px 150px;
}

#nav li {
	margin: 0 0 25px;
}

#nav li a {
	font-size: 30px;
	color: #fff;
	text-decoration: none;
	border-bottom: 3px solid rgba(255, 234, 0, 0);
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}

#nav li a:hover {
	color: #ffea00;
	border-bottom: 3px solid #ffea00;
}

.section-hero {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: -35px 0 45px;
}

.section-hero [class^=box-img-section] {
	position: relative;
	height: auto;
}

.section-hero [class^=box-img-section] img {
	width: 100%;
	height: 100%;
}

.section-hero [class^=box-img-section] .text-hero {
	max-width: 708px;
	height: 100%;
	line-height: 1.45;
	font-size: 22px;
	padding: 55px 130px 30px 35px;
}

.section-hero [class^=box-img-section] .text-hero p {
	margin: 0;
}

.section-hero [class^=box-img-section] .text-hero p:not(:last-child) {
	margin: 0 0 35px;
}

.section-hero [class^=box-img-section] .text-hero p mark {
	color: #006fa7;
	font-weight: 700;
	background: inherit;
	text-transform: uppercase;
}

.section-hero [class^=box-img-section] .holder-img-logo {
	position: relative;
}

.section-hero [class^=box-img-section] .holder-img-logo .img-logo {
	bottom: 2em;
	right: 1em;
	position: absolute;
}

.section-hero .box-img-section-1 {
	width: 32%;
}

.section-hero .box-img-section-1 .main-text {
	position: absolute;
	top: 50%;
	right: 5%;
	-webkit-transform: translateY(10%);
	-ms-transform: translateY(10%);
	transform: translateY(10%);
	text-align: right;
}

.section-hero .box-img-section-1 .main-text .span-main {
	color: #fff;
	display: block;
	font-size: 22px;
}

.section-hero .box-img-section-1 .main-text h1 {
	color: #fff;
}

.section-hero .box-img-section-2 {
	width: 68%;
}

.section-hero .box-img-section-3 {
	width: 32%;
}

.section-hero .box-img-section-3 img {
	width: 100%;
	height: inherit;
}

.section-hero .box-img-section-4 {
	width: 68%;
}

.holder-image {
	position: relative;
}

.holder-image .container blockquote {
	bottom: 2em;
	color: #fff;
	width: 720px;
	font-size: 30px;
	position: absolute;
	margin: 15px 20px 15px 70px;
}

.holder-image .container blockquote cite {
	margin: 0 25px;
	display: block;
	text-align: right;
	font-size: 24px;
	font-style: inherit;
}

.title-block {
	color: #242967;
	margin: 0 0 10px;
	text-align: center;
}

.title-block h2 {
	margin: 0;
}

.mission-vision {
	padding: 30px 0 50px;
	background: #eaecec;
}

.holder-mission,
.holder-vision {
	max-width: 770px;
	margin: 0 auto 50px;
	text-align: center;
}

.holder-mission .title-block-span,
.holder-vision .title-block-span {
	color: #006fa7;
	margin: 0 0 20px;
	display: block;
	font-size: 22px;
	line-height: 1.4;
}

.holder-mission .mission-text,
.holder-vision .mission-text {
	font-size: 26px;
	line-height: 1.4;
}

.holder-mission .mission-text p,
.holder-vision .mission-text p {
	margin: 0;
}

.viewport-section,
.holder-mission {
	margin: 0 auto;
}

.viewport-section.in-viewport .holder-values-image .values-image,
.holder-mission.in-viewport .holder-values-image .values-image {
	opacity: 1;
}

.viewport-section.in-viewport .list-values,
.holder-mission.in-viewport .list-values {
	opacity: 1;
}

.values {
	padding: 70px 0 80px;
}

.values .holder-values {
	text-align: center;
}

.values .holder-values .title-block {
	margin: 0 0 65px;
}

.holder-values-image {
	position: relative;
}

.holder-values-image .values-image {
	opacity: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	min-height: 600px;
	-webkit-transition: visibility .3s ease-in-out .5s, opacity .3s ease-in-out .5s;
	transition: visibility .3s ease-in-out .5s, opacity .3s ease-in-out .5s;
}

.holder-values-image .values-image [class^="circle"] {
	width: 400px;
	height: 400px;
	border-radius: 50%;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	position: relative;
}

.holder-values-image .values-image [class^="circle"] .span-circle {
	color: #fff;
	display: block;
	position: absolute;
	font-size: 23px;
	font-weight: 600;
}

.holder-values-image .values-image .circle-1 {
	background: rgba(0, 201, 5, .7);
	-webkit-transform: translate(76%, 50%);
	-ms-transform: translate(76%, 50%);
	transform: translate(76%, 50%);
	z-index: 3;
}

.holder-values-image .values-image .circle-1 .span-circle {
	top: 56%;
	left: 7%;
}

.holder-values-image .values-image .circle-2 {
	background: rgba(24, 184, 239, .7);
	z-index: 2;
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

.holder-values-image .values-image .circle-2 .span-circle {
	top: 18%;
	left: 31%;
}

.holder-values-image .values-image .circle-3 {
	background: rgba(33, 65, 183, .9);
	z-index: 1;
	-webkit-transform: translate(-76%, 50%);
	-ms-transform: translate(-76%, 50%);
	transform: translate(-76%, 50%);
}

.holder-values-image .values-image .circle-3 .span-circle {
	bottom: 29%;
	right: 13%;
}

.holder-values-image .values-image .circle-4 {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	position: absolute;
	z-index: 3;
}

.holder-values-image .values-image .circle-4 .span-circle {
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.holder-values-image .list-values {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	-webkit-transition: visibility .3s ease-in-out 1.5s, opacity .3s ease-in-out 1.5s;
	transition: visibility .3s ease-in-out 1.5s, opacity .3s ease-in-out 1.5s;
}

.holder-values-image .list-values li {
	position: absolute;
}

.holder-values-image .list-values li img {
	width: auto;
}

.holder-values-image .list-values li:nth-child(1) {
	top: 35%;
	left: 2%;
}

.holder-values-image .list-values li:nth-child(1) img {
	height: 245px;
}

.holder-values-image .list-values li:nth-child(2) {
	top: 5%;
	left: 14%;
	z-index: 2;
}

.holder-values-image .list-values li:nth-child(2) img {
	height: 196px;
}

.holder-values-image .list-values li:nth-child(3) {
	top: -5%;
	right: 19%;
	z-index: 2;
}

.holder-values-image .list-values li:nth-child(3) img {
	height: 178px;
}

.holder-values-image .list-values li:nth-child(4) {
	top: 17%;
	left: 76%;
}

.holder-values-image .list-values li:nth-child(4) img {
	height: 213px;
}

.holder-values-image .list-values li:nth-child(5) {
	top: 62%;
	right: 6%;
}

.holder-values-image .list-values li:nth-child(5) img {
	height: 212px;
}

.objectives {
	padding: 25px 0;
	background: #eaecec;
}

.holder-objectives {
	max-width: 860px;
	margin: 0 auto;
	padding: 0 0 0 40px;
}

.holder-objectives .objectives-list {
	font-size: 26px;
	margin: 0 0 15px;
}

.holder-objectives .objectives-list li {
	position: relative;
	margin: 0 0 6px;
	line-height: 1.3;
}

.holder-objectives .objectives-list li:before {
	content: "";
	position: absolute;
	top: 13px;
	left: -15px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #293051;
}

.holder-objectives .objectives-span {
	font-size: 16px;
	color: #293051;
}

.call-to-action {
	text-align: center;
	padding: 60px 0;
}

.call-to-action .head-text {
	margin: 0 0 5px;
}

.call-to-action .head-text h3 {
	font-size: 38px;
	margin: 0;
	font-weight: 500;
}

.call-to-action .list-call {
	font-size: 48px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	overflow: hidden;
	padding: 0 0 3px;
	margin: 0 0 40px;
}

.call-to-action .list-call li {
	padding: 0 20px;
	position: relative;
	font-weight: 700;
}

.call-to-action .list-call li:not(:last-child):after {
	content: "";
	position: absolute;
	width: 8px;
	height: 70px;
	top: -5px;
	right: -4px;
	background: #006fa7;
	-webkit-transform: rotate(12deg);
	-ms-transform: rotate(12deg);
	transform: rotate(12deg);
}

.call-to-action .list-call li:nth-child(1) a {
	color: #019cde;
}

.call-to-action .list-call li:nth-child(2) a {
	color: #006fa7;
}

.call-to-action .list-call li:nth-child(3) a {
	color: #749a44;
}

.email {
	color: #006fa7;
	font-size: 30px;
	text-decoration: none;
}

#footer {
	padding: 20px 0 0;
	position: relative;
}

.footer-image {
	min-height: 302px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.copyright {
	text-align: center;
	color: #293051;
}

.copyright a {
	position: relative;
	margin: 0 20px 0 0;
	text-decoration: none;
}

.copyright a:before {
	content: "";
	position: absolute;
	top: 2px;
	right: -10px;
	height: 18px;
	width: 1px;
	background: #293051;
}

#wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1250px;
	padding: 0 15px;
	margin: 0 auto;
}

.btn {
	text-decoration: none;
	-webkit-transition: opacity .3s ease-in-out;
	transition: opacity .3s ease-in-out;
}

.btn:hover {
	opacity: .7;
}

.section-goal {
	margin: 0 0 80px;
}

.image-goal {
	min-height: 398px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.title-section {
	padding: 15px 35px;
	background: #fffac1;
}

.title-section .span-title {
	font-size: 22px;
	font-weight: 700;
}

.viewport-section.in-viewport .container .goal-txt,
.groups-goals.in-viewport .container .goal-txt {
	opacity: 1;
}

.viewport-section.in-viewport .container .goal-title .holder-h2 h2,
.groups-goals.in-viewport .container .goal-title .holder-h2 h2 {
	opacity: 1;
}

.viewport-section .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.viewport-section .container .goal-title {
	width: 32%;
	text-align: right;
}

.viewport-section .container .goal-title .title-section {
	padding: 5px 15px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	position: relative;
}

.viewport-section .container .goal-title .title-section:before {
	content: "";
	position: absolute;
	padding: 0 15px;
	top: 0;
	left: -100%;
	width: 100%;
	background: #fffac1;
	z-index: -1;
	height: 100%;
	margin: 0 12px 0 0;
}

.viewport-section .container .goal-title .title-section .h3 {
	opacity: 1;
	color: #006fa7;
	text-transform: uppercase;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.viewport-section .container .goal-title .title-section .h3 .main-nomber {
	font-size: 38px;
	margin: 0 0 0 10px;
}

.viewport-section .container .goal-title .holder-h2 h2 {
	opacity: 0;
	color: #242967;
	text-align: right;
	-webkit-transition: visibility .3s ease-in-out .5s, opacity .3s ease-in-out .5s;
	transition: visibility .3s ease-in-out .5s, opacity .3s ease-in-out .5s;
}

.viewport-section .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.viewport-section .container .goal-txt {
	opacity: 0;
	width: 68%;
	padding: 70px 110px 70px 20px;
	-webkit-transition: visibility .3s ease-in-out .5s, opacity .3s ease-in-out .5s;
	transition: visibility .3s ease-in-out .5s, opacity .3s ease-in-out .5s;
}

.viewport-section .container .goal-txt .txt {
	max-width: 708px;
	line-height: 1.45;
	font-size: 22px;
	margin: 0 0 30px;
	padding: 0 15px 0 0;
}

.viewport-section .container .goal-txt .txt p {
	margin: 0;
}

.open-close {
	position: relative;
	overflow: hidden;
}

.open-close .opener {
	max-width: 708px;
	max-height: 47px;
	text-transform: uppercase;
	color: #242967;
	display: block;
	padding: 14px 22px;
	text-decoration: none;
	position: relative;
	font-size: 16px;
	font-weight: 700;
	background: #8fc9dc;
	z-index: 1;
}

.open-close .opener:after {
	content: "\e900";
	position: absolute;
	right: 15px;
	top: 9px;
	font-size: 22px;
	color: #242967;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
	-webkit-transform: rotate(0);
	-ms-transform: rotate(0);
	transform: rotate(0);
	font-family: "icomoon";
}

.open-close .opener:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	transform: translateX(-100%);
	background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(175, 216, 231, .7) 15%, rgba(166, 210, 231, .7) 21%, rgba(125, 185, 232, 0) 100%);
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(175, 216, 231, .7) 15%, rgba(166, 210, 231, .7) 21%, rgba(125, 185, 232, 0) 100%);
	-webkit-transition: .6s ease-in-out;
	transition: .6s ease-in-out;
}

.open-close .slide {
	max-width: 708px;
	padding: 35px 0 0;
}

.open-close .slide .list {
	padding: 0 40px;
	font-size: 18px;
	line-height: 1.6;
	color: #212121;
	list-style-type: decimal;
}

.open-close .slide .list li:not(:last-child) {
	margin: 0 0 30px;
}

.active .opener:after {
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.active .opener:before {
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
}

@media (min-width: 1351px) {
	.copyright {
		margin: 0 0 10px;
	}
}

@media (max-width: 1300px) {
	.section-hero [class^=box-img-section] .text-hero {
		height: auto;
	}
}

@media (max-width: 1200px) {
	.logo {
		padding: 15px 10px 15px 22px;
	}

	.section-hero .box-img-section-1 .main-text .span-main {
		font-size: 14px;
	}

	.section-hero .box-img-section-1 .main-text h1 {
		font-size: 28px;
	}

	.holder-values-image {
		min-height: 850px;
	}

	.holder-values-image .values-image .circle-4 .span-circle {
		top: 35%;
		-webkit-transform: translate(-50%, -100%);
		-ms-transform: translate(-50%, -100%);
		transform: translate(-50%, -100%);
	}
}

@media (max-width: 1199px) {
	.logo a {
		font-size: 16px;
	}

	.values .holder-values .title-block {
		margin: 0 0 30px;
	}
}

@media (max-width: 1159px) {
	.values {
		padding: 70px 0 10px;
	}

	.holder-values-image .list-values li:nth-child(1) {
		top: 63%;
		left: -8%;
	}

	.holder-values-image .list-values li:nth-child(2) {
		top: 7%;
		left: -7%;
	}

	.holder-values-image .list-values li:nth-child(3) {
		top: 0;
		right: 1%;
	}

	.holder-values-image .list-values li:nth-child(4) {
		top: 65%;
		right: -3%;
	}

	.holder-values-image .list-values li:nth-child(5) {
		top: 72%;
		right: 30%;
	}
}

@media (max-width: 899px) {
	.viewport-section .container .goal-title .holder-h2 h2 {
		margin: 0;
		font-size: 36px;
	}
}

@media (max-width: 768px) {
	.logo a {
		font-weight: 500;
		font-size: 14px;
	}

	.section-hero {
		margin: 0 0 25px;
	}

	.section-hero [class^=box-img-section] .text-hero {
		font-size: 18px;
		padding: 30px 45px 15px 25px;
	}

	.section-hero [class^=box-img-section] .holder-img-logo .img-logo {
		bottom: .5em;
	}

	.section-hero [class^=box-img-section] .holder-img-logo .img-logo img {
		width: 120px;
		height: auto;
	}

	.viewport-section .container .goal-title {
		width: 100%;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}

	.viewport-section .container .goal-title .title-section {
		padding: 0 15px;
		margin: 0 12px 0 0;
	}

	.viewport-section .container .goal-title .title-section .h3 {
		font-size: 22px;
	}

	.viewport-section .container .goal-title .holder-h2 h2 br {
		display: none;
	}

	.viewport-section .container .goal-txt {
		width: 100%;
		padding: 20px 15px 30px 140px;
	}
}

@media (max-width: 767px) {
	#header {
		background: #242967;
		position: relative;
	}

	.logo {
		width: 100%;
		padding: 15px 22px;
	}

	.drop {
		width: 100%;
	}

	#nav {
		padding: 70px 150px 30px;
	}

	#nav li {
		margin: 0 0 15px;
	}

	#nav li a {
		font-size: 18px;
	}

	.section-hero {
		margin: 0 0 15px;
	}

	.section-hero [class^=box-img-section] .text-hero {
		padding: 30px 20px 20px;
		line-height: 1.5;
	}

	.section-hero [class^=box-img-section] .holder-img-logo .img-logo {
		right: 0;
	}

	.section-hero [class^=box-img-section] .holder-img-logo .img-logo img {
		width: 82px;
	}

	.section-hero .box-img-section-1 {
		width: 100%;
		-webkit-box-ordinal-group: 2;
		-ms-flex-order: 1;
		order: 1;
		margin: -85% 0 0;
	}

	.section-hero .box-img-section-1 .main-text .span-main {
		font-size: 18px;
	}

	.section-hero .box-img-section-1 .main-text h1 {
		font-size: 32px;
		line-height: 1;
	}

	.section-hero .box-img-section-2 {
		width: 50%;
		-webkit-box-ordinal-group: 4;
		-ms-flex-order: 3;
		order: 3;
		-webkit-transform: translate(0%, -80%);
		-ms-transform: translate(0%, -80%);
		transform: translate(0%, -80%);
	}

	.section-hero .box-img-section-3 {
		width: 50%;
		-webkit-box-ordinal-group: 3;
		-ms-flex-order: 2;
		order: 2;
		-webkit-transform: translate(0%, -80%);
		-ms-transform: translate(0%, -80%);
		transform: translate(0%, -80%);
	}

	.section-hero .box-img-section-4 {
		width: 100%;
		-webkit-box-ordinal-group: 5;
		-ms-flex-order: 4;
		order: 4;
		margin: -42% 0 0;
	}

	.holder-image .container blockquote {
		bottom: 1em;
		width: 445px;
		font-size: 24px;
		margin: 15px 20px 0;
		line-height: 1.5;
	}

	.holder-image .container blockquote cite {
		font-size: 18px;
	}

	.title-block h2 {
		font-size: 24px;
	}

	.mission-vision {
		padding: 20px 0;
	}

	.holder-mission,
	.holder-vision {
		max-width: 700px;
		margin: 0 auto 15px;
	}

	.holder-mission .title-block-span,
	.holder-vision .title-block-span {
		font-size: 18px;
		padding: 15px 0 0;
		margin: 0;
	}

	.holder-mission .mission-text,
	.holder-vision .mission-text {
		font-size: 18px;
		line-height: 1.6;
	}

	.values {
		padding: 20px 0;
	}

	.values .holder-values .title-block {
		margin: 0 0 25px;
	}

	.holder-values-image {
		min-height: 495px;
	}

	.holder-values-image .values-image {
		min-height: 335px;
	}

	.holder-values-image .values-image [class^="circle"] {
		width: 210px;
		height: 210px;
	}

	.holder-values-image .values-image [class^="circle"] .span-circle {
		font-size: 12px;
		font-weight: 500;
	}

	.holder-values-image .values-image .circle-1 .span-circle {
		top: 46%;
		left: 5%;
		text-align: left;
	}

	.holder-values-image .values-image .circle-2 .span-circle {
		top: 19%;
		left: 31%;
		text-align: left;
	}

	.holder-values-image .values-image .circle-3 .span-circle {
		top: 46%;
		left: 53%;
		text-align: left;
	}

	.holder-values-image .values-image .circle-4 {
		-webkit-transform: translate(-50%, -80%);
		-ms-transform: translate(-50%, -80%);
		transform: translate(-50%, -80%);
	}

	.holder-values-image .values-image .circle-4 {
		top: 7%;
		left: 50%;
		text-align: left;
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
	}

	.holder-values-image .values-image .circle-4 .span-circle {
		top: 60%;
		-webkit-transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
	}

	.holder-values-image .list-values li:nth-child(1) {
		visibility: hidden;
	}

	.holder-values-image .list-values li:nth-child(2) {
		visibility: hidden;
	}

	.holder-values-image .list-values li:nth-child(3) {
		top: 68%;
		right: 49%;
	}

	.holder-values-image .list-values li:nth-child(3) img {
		height: 145px;
	}

	.holder-values-image .list-values li:nth-child(4) {
		top: 74%;
		left: 53%;
	}

	.holder-values-image .list-values li:nth-child(4) img {
		height: 135px;
	}

	.holder-values-image .list-values li:nth-child(5) {
		visibility: hidden;
	}

	.objectives {
		padding: 25px 0 40px;
	}

	.objectives .title-block h2 {
		font-size: 24px;
	}

	.holder-objectives {
		padding: 0 0 0 30px;
	}

	.holder-objectives .objectives-list {
		font-size: 18px;
	}

	.holder-objectives .objectives-list li {
		margin: 0;
		line-height: 1.4;
	}

	.holder-objectives .objectives-list li:before {
		top: 11px;
	}

	.call-to-action .head-text {
		margin: 0 0 50px;
	}

	.call-to-action .list-call {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		margin: 0 0 40px;
	}

	.call-to-action .list-call li:not(:last-child) {
		margin: 0 0 45px;
	}

	.call-to-action .list-call li:not(:last-child):after {
		width: 6px;
		height: 42px;
		top: 100%;
		right: 50%;
	}

	.copyright {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		font-size: 14px;
		max-width: 250px;
		margin: 0 auto;
	}

	.copyright a {
		margin: 0 0 15px;
		font-size: 14px;
	}

	.copyright a:before {
		display: none;
	}

	.section-goal {
		margin: 0 0 55px;
	}

	.section-goal.last-goal {
		margin: 0 0 30px;
	}

	.image-goal {
		min-height: 260px;
	}

	.title-section {
		padding: 20px 0 20px 18px;
	}

	.title-section .span-title {
		font-size: 18px;
	}

	.viewport-section .container .goal-txt {
		padding: 20px 5px;
	}

	.viewport-section .container .goal-txt .txt {
		font-size: 18px;
	}

	.open-close {
		margin: 0 0 30px;
	}

	.open-close .opener {
		text-transform: inherit;
	}

	.open-close .slide .list {
		padding: 0 0 0 18px;
		font-size: 16px;
		line-height: 1.5;
	}

	.open-close .slide .list li:not(:last-child) {
		margin: 0 0 10px;
	}
}

@media (max-width: 755px) {
	.logo a {
		font-size: 16px;
	}
}

@media (max-width: 619px) {
	.viewport-section .container .goal-title .title-section {
		width: 120px;
		padding: 5px 15px;
	}
}

@media (max-width: 480px) {
	.email {
		font-size: 24px;
	}

	.viewport-section .container .goal-title .holder-h2 h2 br {
		display: block;
	}
}

@media (max-width: 479px) {
	.logo {
		width: 100%;
		padding: 18px 10px;
		letter-spacing: -.2px;
	}

	#nav {
		padding: 70px 30px 10px;
	}

	.holder-image .container blockquote {
		position: relative;
		width: 100%;
		color: #749a44;
		margin: 0 7px;
		line-height: 1.3;
	}

	.holder-image .container blockquote cite {
		color: #749a44;
		margin: 0 5px;
	}

	.holder-mission,
	.holder-vision {
		margin: 0 auto 20px;
	}

	.values .holder-values .title-block {
		margin: 0 0 10px;
	}

	.objectives {
		padding: 25px 0 15px;
	}

	.holder-objectives {
		padding: 0 0 0 15px;
	}

	.holder-objectives .objectives-list li {
		line-height: 1.5;
		margin: 0 0 3px;
	}

	.call-to-action {
		padding: 35px 0 10px;
	}

	.section-goal {
		margin: 0 0 45px;
	}

	.image-goal {
		min-height: 102px;
	}

	.viewport-section .container .goal-title {
		-webkit-box-align: end;
		-ms-flex-align: end;
		align-items: flex-end;
		margin: 0 0 5px;
		display: block;
		text-align: left;
	}

	.viewport-section .container .goal-txt .txt {
		padding: 0;
		margin: 0 0 45px;
		line-height: 1.5;
	}
}
