// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/

$gray: #848484;
$light-gray: #eaecec;
$black: #333;
$white: #fff;
$light-blue: #39f;
$yellow: #ffea00;
$light-yellow: #fffac1;
$green: #749a44;
$blue: #019cde;
$blue-2: #017db2;
$blue-3: #006fa7;
$black-blue: #242967;
$black-dark: #293051;





// Accordion
// Accordion text
$blue-2: #8fc9dc;
$blue-hover-2: #b1d9e7;
$black-2: #212121;


$base-font-sans-serif: 'Poppins', 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// This is the default html and body font-size for the base rem value.
$rem-base: 16px;

// Body
$base-text-color: $blue-3 !default;
$base-background-color: $white !default;
$font-size-base: 16px !default;
$line-height-base: 1.2 !default;
$base-font-family: $base-font-sans-serif !default;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $light-blue;

// Buttons 
$btn-color: $white !default;
$btn-background: $black !default;
$btn-padding: 0.4em 0.7em !default;
$btn-font-size: inherit !default;

// Forms
$form-element-padding: $btn-padding !default;
$form-element-border-color: $gray !default;
$form-element-focus-border-color: $black !default;
$placeholder-color: $gray !default;

// Headers
$h1-font-size: 42px;
$h2-font-size: 48px;
$h3-font-size: 22px;
$h4-font-size: 21px !default;
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$headings-font-family: inherit !default;
$headings-color: inherit !default;


$animation-speed: 0.3s;
