.section-hero {
	display: flex;
	flex-wrap: wrap;
	margin: -35px 0 45px;
	@include media ('<=tablet') {
		margin: 0 0 25px;
	}
	@include media ('<tablet') {
		margin: 0 0 15px;
	}
	[class^=box-img-section] {
		position: relative;
		height: auto;
		img {
			width: 100%;
			height: 100%;
		}
		.text-hero {
			max-width: 708px;
			height: 100%;
			line-height: 1.45;
			font-size: 22px;
			padding: 55px 130px 30px 35px;
			@include media('<=1300px') {
				height: auto;
			}
			@include media ('<=tablet') {
				font-size: 18px;
				padding: 30px 45px 15px 25px;
			}
			@include media ('<tablet') {
				padding: 30px 20px 20px;
				line-height: 1.5;
			}
			p {
				margin: 0;
				&:not(:last-child) {
					margin: 0 0 35px;
				}
				mark {
					color: $blue-3;
					font-weight: 700;
					background: inherit;
					text-transform: uppercase;
				}
			}
		}
		.holder-img-logo {
			position: relative;
			.img-logo {
				bottom: 2em;
				right: 1em;
				position: absolute;
				@include media ('<=tablet') {
					bottom: 0.5em;
				}
				@include media ('<tablet') {
					right: 0;
				}
				img {
					@include media ('<=tablet') {
						width: 120px;
						height: auto;
					}
					@include media ('<tablet') {
						width: 82px;
					}
				}
			}
		}
	}
	.box-img-section-1 {
		width: 32%;
		@include media ('<tablet') {
			width: 100%;
			order: 1;
			margin: -85% 0 0;
		}
		.main-text {
			position: absolute;
			top: 50%;
			right: 5%;
			transform: translateY(10%);
			text-align: right;
			.span-main {
				color: $white;
				display: block;
				font-size: 22px;
				@include media ('<=widescreen') {
					font-size: 14px;
				}
				@include media ('<tablet') {
					font-size: 18px;
				}
			}
			h1 {
				color: $white;
				@include media ('<=widescreen') {
					font-size: 28px;
				}
				@include media ('<tablet') {
					font-size: 32px;
					line-height: 1;
				}
			}
		}
	}
	.box-img-section-2 {
		width: 68%;
		@include media ('<tablet') {
			width: 50%;
			order: 3;
			transform: translate(0%, -80%);
		}
	}
	.box-img-section-3 {
		width: 32%;
		img {
			width: 100%;
			height: inherit;
		}
		@include media ('<tablet') {
			width: 50%;
			order: 2;
			transform: translate(0%, -80%);
		}
	}
	.box-img-section-4 {
		width: 68%;
		@include media ('<tablet') {
			width: 100%;
			order: 4;
			margin: -42% 0 0;
		}
	}
}

.holder-image {
	position: relative;
	.container {
		blockquote {
			bottom: 2em;
			color: $white;
			width: 720px;
			font-size: 30px;
			position: absolute;
			margin: 15px 20px 15px 70px;
			@include media ('<tablet') {
				bottom: 1em;
				width: 445px;
				font-size: 24px;
				margin: 15px 20px 0;
				line-height: 1.5;
			}
			@include media ('<phone') {
				position: relative;
				width: 100%;
				color: $green;
				margin: 0 7px;
				line-height: 1.3;
			}
			cite {
				margin: 0 25px;
				display: block;
				text-align: right;
				font-size: 24px;
				font-style: inherit;
				@include media ('<tablet') {
					font-size: 18px;
				}
				@include media ('<phone') {
					color: $green;
					margin: 0 5px;
				}
			}
		}
	}
}

.title-block {
	color: $black-blue;
	margin: 0 0 10px;
	text-align: center;
	h2 {
		margin: 0;
		@include media ('<tablet') {
			font-size: 24px;
		}
	}
}

.mission-vision {
	padding: 30px 0 50px;
	background: $light-gray;
	@include media ('<tablet') {
		padding: 20px 0;
	}
}

.holder-mission,
.holder-vision {
	max-width: 770px;
	margin: 0 auto 50px;
	text-align: center;
	@include media ('<tablet') {
		max-width: 700px;
		margin: 0 auto 15px;
	}
	@include media ('<phone') {
		margin: 0 auto 20px;
	}
	.title-block-span {
		color: $blue-3;
		margin: 0 0 20px;
		display: block;
		font-size: 22px;
		line-height: 1.4;
		@include media ('<tablet') {
			font-size: 18px;
			padding: 15px 0 0;
			margin: 0;
		}
	}
	.mission-text {
		font-size: 26px;
		line-height: 1.4;
		@include media ('<tablet') {
			font-size: 18px;
			line-height: 1.6;
		}
		p {
			margin: 0;
		}
	}
}

.viewport-section,
.holder-mission {
	margin: 0 auto;
	&.in-viewport {
		.holder-values-image {
			.values-image {
				opacity: 1;
			}
		}
		.list-values {
			opacity: 1;
		}
	}
}

.values {
	padding: 70px 0 80px;
	@include media ('<1160px') {
		padding: 70px 0 10px;
	}
	@include media ('<tablet') {
		padding: 20px 0;
	}
	.holder-values {
		text-align: center;
		.title-block {
			margin: 0 0 65px;
			@include media ('<widescreen') {
				margin: 0 0 30px;
			}
			@include media ('<tablet') {
				margin: 0 0 25px;
			}
			@include media ('<phone') {
				margin: 0 0 10px;
			}
		}
	}
}

.holder-values-image {
	position: relative;
	@include media ('<=1200px') {
		min-height: 850px;
	}
	@include media ('<tablet') {
		min-height: 495px;
	}
	.values-image {
		opacity: 0;
		display: flex;
		justify-content: center;
		min-height: 600px;
		transition: visibility .3s ease-in-out .5s, opacity .3s ease-in-out .5s;
		@include media ('<tablet') {
			min-height: 335px;
		}
		[class^="circle"] {
			width: 400px;
			height: 400px;
			border-radius: 50%;
			flex-shrink: 0;
			position: relative;
			@include media ('<tablet') {
				width: 210px;
				height: 210px;
			}
			.span-circle {
				color: $white;
				display: block;
				position: absolute;
				font-size: 23px;
				font-weight: 600;
				@include media ('<tablet') {
					font-size: 12px;
					font-weight: 500;
				}
			}
		}
		.circle-1 {
			background: rgba(#00c905, .7);
			transform: translate(76%, 50%);
			z-index: 3;
			.span-circle {
				top: 56%;
				left: 7%;
				@include media ('<tablet') {
					top: 46%;
					left: 5%;
					text-align: left;
				}
			}
		}
		.circle-2 {
			background: rgba(#18b8ef, .7);
			z-index: 2;
			transform: translate(0, 0);
			.span-circle {
				top: 18%;
				left: 31%;
				@include media ('<tablet') {
					top: 19%;
					left: 31%;
					text-align: left;
				}
			}
		}
		.circle-3 {
			background: rgba(#2141b7, .9);
			z-index: 1;
			transform: translate(-76%, 50%);
			.span-circle {
				bottom: 29%;
				right: 13%;
				@include media ('<tablet') {
					top: 46%;
					left: 53%;
					text-align: left;
				}
			}
		}
		.circle-4 {
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			z-index: 3;
			@include media ('<tablet') {
				transform: translate(-50%, -80%);
			}
			@include media ('<tablet') {
				top: 7%;
				left: 50%;
				text-align: left;
				transform: translate(-50%, 0);
			}
			.span-circle {
				top: 50%;
				left: 50%;
				transform: translate(-50%, 0);
				@include media ('<=widescreen') {
					top: 35%;
					transform: translate(-50%, -100%);
				}
				@include media ('<tablet') {
					top: 60%;
					transform: translate(-50%, 0);
				}
			}
		}
	}
	.list-values {
		@extend %listreset;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 0;
		transition: visibility .3s ease-in-out 1.5s, opacity .3s ease-in-out 1.5s;
		li {
			img {;
				width: auto;
			}
			position: absolute;
			&:nth-child(1) {
				top: 35%;
				left: 2%;
				@include media ('<1160px') {
					top: 63%;
					left: -8%;
				}
				@include media ('<tablet') {
					visibility: hidden;
				}
				img {
					height: 245px;
				}
			}
			&:nth-child(2) {
				top: 5%;
				left: 14%;
				z-index: 2;
				@include media ('<1160px') {
					top: 7%;
					left: -7%;
				}
				@include media ('<tablet') {
					visibility: hidden;
				}
				img {
					height: 196px;
				}
			}
			&:nth-child(3) {
				top: -5%;
				right: 19%;
				z-index: 2;
				@include media ('<1160px') {
					top: 0%;
					right: 1%;
				}
				@include media ('<tablet') {
					top: 68%;
					right: 49%;
				}
				img {
					height: 178px;
					@include media ('<tablet') {
						height: 145px;
					}
				}
			}
			&:nth-child(4) {
				top: 17%;
				left: 76%;
				@include media ('<1160px') {
					top: 65%;
					right: -3%;
				}
				@include media ('<tablet') {
					top: 74%;
					left: 53%;
				}
				img {
					height: 213px;
					@include media ('<tablet') {
						height: 135px;
					}
				}
			}
			&:nth-child(5) {
				top: 62%;
				right: 6%;
				@include media ('<1160px') {
					top: 72%;
					right: 30%;
				}
				@include media ('<tablet') {
					visibility: hidden;
				}
				img {
					height: 212px;
				}
			}
		}
	}
}

.objectives {
	padding: 25px 0;
	background: $light-gray;
	@include media ('<tablet') {
		padding: 25px 0 40px;
	}
	@include media ('<phone') {
		padding: 25px 0 15px;
	}
	.title-block {
		h2 {
			@include media ('<tablet') {
				font-size: 24px;
			}
		}
	}
}

.holder-objectives {
	max-width: 860px;
	margin: 0 auto;
	padding: 0 0 0 40px;
	@include media ('<tablet') {
		padding: 0 0 0 30px;
	}
	@include media ('<phone') {
		padding: 0 0 0 15px;
	}
	.objectives-list {
		@extend %listreset;
		font-size: 26px;
		margin: 0 0 15px;
		@include media ('<tablet') {
			font-size: 18px;
		}
		li {
			position: relative;
			margin: 0 0 6px;
			line-height: 1.3;
			@include media ('<tablet') {
				margin: 0;
				line-height: 1.4;
			}
			@include media ('<phone') {
				line-height: 1.5;
				margin: 0 0 3px;
			}
			&:before {
				content: '';
				position: absolute;
				top: 13px;
				left: -15px;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background: $black-dark;
				@include media ('<tablet') {
					top: 11px;
				}
			}
		}
	}
	.objectives-span {
		font-size: 16px;
		color: $black-dark;
	}
}

.call-to-action {
	text-align: center;
	padding: 60px 0;
	@include media ('<phone') {
		padding: 35px 0 10px;
	}
	.head-text {
		margin: 0 0 5px;
		@include media ('<tablet') {
			margin: 0 0 50px;
		}
		h3 {
			font-size: 38px;
			margin: 0;
			font-weight: 500;
		}
	}
	.list-call {
		@extend %listreset;
		font-size: 48px;
		display: flex;
		justify-content: center;
		overflow: hidden;
		padding: 0 0 3px;
		margin: 0 0 40px;
		@include media ('<tablet') {
			flex-direction: column;
			margin: 0 0 40px;
		}
		li {
			padding: 0 20px;
			position: relative;
			font-weight: 700;
			&:not(:last-child) {
				@include media ('<tablet') {
					margin: 0 0 45px;
				}
				&:after {
					content: '';
					position: absolute;
					width: 8px;
					height: 70px;
					top: -5px;
					right: -4px;
					background: $blue-3;
					transform: rotate(12deg);
					@include media ('<tablet') {
						width: 6px;
						height: 42px;
						top: 100%;
						right: 50%;
					}
				}
			}
			&:nth-child(1) {
				a {
					color: $blue;
				}
			}
			&:nth-child(2) {
				a {
					color: $blue-3;
				}
			}
			&:nth-child(3) {
				a {
					color: $green;
				}
			}
		}
	}
}

.email {
	color: $blue-3;
	font-size: 30px;
	text-decoration: none;
	@include media ('<=phone') {
		font-size: 24px;
	}
}