#wrapper {
	overflow: hidden;
	position: relative;
}

.container {
	max-width: 1250px;
	padding: 0 15px;
	margin: 0 auto;
}

.btn {
	text-decoration: none;
	transition: opacity .3s ease-in-out;
	&:hover {
		opacity: .7;
	}
}

.section-goal {
	margin: 0 0 80px;
	@include media ('<tablet') {
		margin: 0 0 55px;
	}
	@include media ('<phone') {
		margin: 0 0 45px;
	}
	&.last-goal {
		@include media ('<tablet') {
			margin: 0 0 30px;
		}
	}
}

.image-goal {
	min-height: 398px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	@include media ('<tablet') {
		min-height: 260px;
	}
	@include media ('<phone') {
		min-height: 102px;
	}
}

.title-section {
	padding: 15px 35px;
	background: $light-yellow;
	@include media ('<tablet') {
		padding: 20px 0 20px 18px;
	}
	.span-title {
		font-size: 22px;
		font-weight: 700;
		@include media ('<tablet') {
			font-size: 18px;
		}
	}
}

.viewport-section,
.groups-goals {
	&.in-viewport {
		.container {
			.goal-txt {
				opacity: 1;
			}
			.goal-title {
				.holder-h2 {
					h2 {
						opacity: 1;
					}
				}
			}
		}
	}
}

.viewport-section {
	.container {
		display: flex;
		flex-wrap: wrap;
		.goal-title {
			width: 32%;
			text-align: right;
			@include media ('<=tablet') {
				width: 100%;
				display: flex;
				align-items: center;
			}
			@include media ('<phone') {
				align-items: flex-end;
				margin: 0 0 5px;
				display: block;
				text-align: left;
			}
			.title-section {
				padding: 5px 15px;
				display: flex;
				justify-content: flex-end;
				position: relative;
				@include media ('<=tablet') {
					padding: 0 15px;
					margin: 0 12px 0 0;
				}
				@include media ('<620px') {
					width: 120px;
					padding: 5px 15px;
				}
				&:before {
					content: '';
					position: absolute;
					padding: 0 15px;
					top: 0;
					left: -100%;
					width: 100%;
					background: $light-yellow;
					z-index: -1;
					height: 100%;
					margin: 0 12px 0 0;
				}
				.h3 {
					opacity: 1;
					color: $blue-3;
					text-transform: uppercase;
					margin: 0;
					display: flex;
					align-items: center;
					@include media ('<=tablet') {
						font-size: 22px;
					}
					.main-nomber {
						font-size: 38px;
						margin: 0 0 0 10px;
					}
				}
			}
			.holder-h2 {
				h2 {
					opacity: 0;
					color: $black-blue;
					text-align: right;
					transition: visibility .3s ease-in-out .5s, opacity .3s ease-in-out .5s;
					@include media ('<900px') {
						margin: 0;
						font-size: 36px;
					}
					br {
						@include media ('<=tablet') {
							display: none;
						}
						@include media ('<=phone') {
							display: block;
						}
					}
				}
			}
		}
	}
}

.viewport-section {
	.container {
		display: flex;
		flex-wrap: wrap;
		.goal-txt {
			opacity: 0;
			width: 68%;
			padding: 70px 110px 70px 20px;
			transition: visibility .3s ease-in-out .5s, opacity .3s ease-in-out .5s;
			@include media ('<=tablet') {
				width: 100%;
				padding: 20px 15px 30px 140px;
			}
			@include media ('<tablet') {
				padding: 20px 5px;
			}
			.txt {
				max-width: 708px;
				line-height: 1.45;
				font-size: 22px;
				margin: 0 0 30px;
				padding: 0 15px 0 0;
				@include media ('<tablet') {
					font-size: 18px;
				}
				@include media ('<phone') {
					padding: 0;
					margin: 0 0 45px;
					line-height: 1.5;
				}
				p {
					margin: 0;
				}
			}
		}
	}
}

.open-close {
	position: relative;
	overflow: hidden;
	@include media ('<tablet') {
		margin: 0 0 30px;
	}
	.opener {
		max-width: 708px;
		max-height: 47px;
		text-transform: uppercase;
		color: $black-blue;
		display: block;
		padding: 14px 22px;
		text-decoration: none;
		position: relative;
		font-size: 16px;
		font-weight: 700;
		background: $blue-2;
		z-index: 1;
		@include media ('<tablet') {
			text-transform: inherit;
		}
		&:after {
			content: "\e900";
			position: absolute;
			right: 15px;
			top: 9px;
			font-size: 22px;
			color: $black-blue;
			transition: .3s ease-in-out;
			transform: rotate(0);
			font-family: 'icomoon';
		}
		&:before {
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			transform: translateX(-100%);
			background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(175,216,231,0.7) 15%,rgba(166,210,231,0.7) 21%,rgba(125,185,232,0) 100%);
			transition: .6s ease-in-out;
		}
	}
	.slide {
		max-width: 708px;
		padding: 35px 0 0;
		.list {
			@extend %listreset;
			padding: 0 40px;
			font-size: 18px;
			line-height: 1.6;
			color: $black-2;
			list-style-type: decimal;
			@include media ('<tablet') {
				padding: 0 0 0 18px;
				font-size: 16px;
				line-height: 1.5;
			}
			li {
				&:not(:last-child) {
					margin: 0 0 30px;
					@include media ('<tablet') {
						margin: 0 0 10px;
					}
				}
			}
		}
	}
}
.active {
	.opener {
		&:after {
			transform: rotate(45deg);
		}
		&:before {
			transform: translateX(100%);
		}
	}
}