#footer {
	padding: 20px 0 0;
	position: relative;
}

.footer-image {
	min-height: 302px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.copyright {
	text-align: center;
	color: $black-dark;
	@include media ('>1350px') {
		margin: 0 0 10px;
	}
	@include media ('<tablet') {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		font-size: 14px;
		max-width: 250px;
		margin: 0 auto;
	}
	a {
		position: relative;
		margin: 0 20px 0 0;
		text-decoration: none;
		@include media ('<tablet') {
			margin: 0 0 15px;
			font-size: 14px;
		}
		&:before {
			content: '';
			position: absolute;
			top: 2px;
			right: -10px;
			height: 18px;
			width: 1px;
			background: $black-dark;
			@include media ('<tablet') {
				display: none;
			}
		}
	}
}