#header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: absolute;
	z-index: 2;
	@include media ('<tablet') {
		background: $black-blue;
		position: relative;
	}
}

.logo {
	background: $black-blue;
	width: 32%;
	padding: 15px 2% 15px 22px;
	display: inline-flex;
	align-items: center;
	@include media ('<=widescreen') {
		padding: 15px 10px 15px 22px;
	}
	@include media ('<tablet') {
		width: 100%;
		padding: 15px 22px;
	}
	@include media ('<phone') {
		width: 100%;
		padding: 18px 10px;
		letter-spacing: -0.2px;
	}
	a {
		color: $white;
		text-decoration: none;
		display: inline-block;
		font-size: 22px;
		font-weight: 700;
		border-bottom: 3px solid rgba($yellow, 0);
		transition: all .3s ease-in-out;
		@include media ('<widescreen') {
			font-size: 16px;
		}
		@include media ('<=tablet') {
			font-weight: 500;
			font-size: 14px;
		}
		@include media ('<=755px') {
			font-size: 16px;
		}
		&:hover {
			color: $yellow;
			border-bottom: 3px solid rgba($yellow, 1);
		}
	}
}

.resize-active {
	* {
		transition: none !important;
	}
}

.nav-opener {
	display: block;
	width: 60px;
	height: 60px;
	position: relative;
	right: 0;
	z-index: 2;
	background: $black-blue;
	.nav-active & {
		span {
			opacity: 0;
		}
		&:before,
		&:after {
			transform: rotate(45deg);
			top: 50%;
			left: 30%;
			right: 30%;
		}
		&:after {
			transform: rotate(-45deg);
		}
	}
	span,
	&:before,
	&:after {
		background: #fff;
		position: absolute;
		top: 50%;
		left: 30%;
		right: 30%;
		height: 4px;
		margin-top: -2px;
		transition: all .3s linear;
		.header-fixed & {
			background: $black;
		}
	}
	&:before,
	&:after {
		content:'';
		top:35%;
	}
	&:after {
		top:65%;
	}
}

.drop {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	width: 68%;
	opacity: 0;
	visibility: hidden;
	transform: translate(100%, 0);
	background-color: rgba($black, .5);
	transition: {
		property: opacity, visibility, transform;
		duration: .3s;
		timing-function: linear;
	};
	@include media ('<tablet') {
		width: 100%;
	}
	.nav-active & {
		opacity: 1;
		visibility: visible;
		transform: translate(0, 0);
	}
}

#nav {
	@extend %listreset;
	display: flex;
	flex-direction: column;
	background: $blue;
	width: auto;
	padding: 70px 150px;
	@include media ('<tablet') {
		padding: 70px 150px 30px;
	}
	@include media ('<phone') {
		padding: 70px 30px 10px;
	}
	li {
		margin: 0 0 25px;
		@include media ('<tablet') {
			margin: 0 0 15px;
		}
		a {
			font-size: 30px;
			color: $white;
			text-decoration: none;
			border-bottom: 3px solid rgba($yellow, 0);
			transition: all .3s ease-in-out;
			@include media ('<tablet') {
				font-size: 18px;
			}
			&:hover {
				color: $yellow;
				border-bottom: 3px solid rgba($yellow, 1);
			}
		}
	}
}